{% extends 'base.html.twig' %}


{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MEDIAMANIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('genre_index') }}">Genre</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('typemedia_index') }}">TypeMedia</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('utilisateur_index') }}">Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('media_index') }}">Media</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float: right" >
                <li class="nav-item">
                    <a class="nav-link" href="{{ path(cheminConnexion) }}">{{ connecter }}</a>
                </li>
            </ul>

        </div>
    </nav>


    <div class=" row jumbotron">
        <div class="text-center">
            {{ form_start(typemediaForm, {'attr': {'novalidate': 'novalidate'}} ) }}
            {{ form_widget(typemediaForm) }}
            <button type="submit">Enregistrer</button>
            {{ form_end(typemediaForm) }}

        </div>
    </div>


{% endblock %}
