{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MEDIAMANIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('genre_index') }}">Genre</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('typemedia_index') }}">TypeMedia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('utilisateur_index') }}">Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('media_index') }}">Media</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float: right" >
                <li class="nav-item">
                    <a class="nav-link" href="{{ path(cheminConnexion) }}">{{ connecter }}</a>
                </li>
            </ul>

        </div>
    </nav>


    <div class="row jumbotron">
        <div class="col-md-12">
            <h3>Table des Type Média</h3><br>
        </div>
        <div class="col-md-12">
            <button type="button" style="float: right" class="btn btn-default btn-lg" onclick="window.location = '{{ path('typemedia_ajouter') }}'" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <br><br><br><br>
        </div>
        <div class="col-md-12">
            <table id="mytable" class="table table-bordered table-striped">

                <thead>
                <th class="text-center">Nom</th>
                <th class="text-center">Modifier</th>
                <th class="text-center">Supprimer</th>
                </thead>
                <tbody>

                {% for typemedia in typemedias %}
                    <tr>
                        <td>{{ typemedia.name  }}</td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a class="btn btn-primary btn-xs glyphicon glyphicon-pencil" href="{{ path("typemedia_update", {'id': typemedia.id})}}"></a></p></td>
                        <td><p data-placement="top" data-toggle="tooltip" title="Remove"><a class="btn btn-danger btn-xs glyphicon glyphicon-trash" href="{{ path("typemedia_del", {'id': typemedia.id})}}"></a></p></td>
                    </tr>
                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

{% endblock %}