{% extends 'base.html.twig' %}


{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 rounded" style="background-color: #4e555b !important; margin-bottom: 0 !important">
        <label class="navbar-brand text-warning" href="#">MEDIAMANIA</label>
        <button class="navbar-toggler bg-warning" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path('admin_index') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path('genre_index') }}">Genre</a>
                </li>
                <li class="nav-item " style="font-size: 20px">
                    <a class="nav-link text-white" href="{{ path('typemedia_index') }}">TypeMedia</a>
                </li>
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path('utilisateur_index') }}">Utilisateur</a>
                </li>
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path('media_index') }}">Media</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float: right">
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path(cheminConnexion) }}">{{ connecter }}</a>
                </li>
            </ul>

        </div>
    </nav>


        <div class="row jumbotron" style=" margin: 0 auto; width: 90%;">
            <div class="col-md-12" style="padding-left: 35%; padding-right: 35%;">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h2>Modifier un type de média</h2>
                    {{ form_start(typemediaForm)}}
                    <div class="form-group">
                        {{ form_label(typemediaForm.name, 'Nom')}}
                        {{ form_widget(typemediaForm.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 10px;">Enregistrer</button>
                    {{ form_end(typemediaForm) }}
                </div>
            </div>
        </div>


{% endblock %}
