{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light shadow p-3 mb-5 rounded" style="background-color: #4e555b !important; margin-bottom: 0 !important">
        <label class="navbar-brand text-warning" href="#">MEDIAMANIA</label>
        <button class="navbar-toggler bg-warning" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" style="font-size: 20px">
                    <a class="nav-link text-white" href="{{ path('admin_index') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path('genre_index') }}">Genre</a>
                </li>
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path('typemedia_index') }}">TypeMedia</a>
                </li>
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path('utilisateur_index') }}">Utilisateur</a>
                </li>
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path('media_index') }}">Media</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float: right" >
                <li class="nav-item" style="font-size: 20px">
                    <a class="nav-link text-warning" href="{{ path(cheminConnexion) }}">{{ connecter }}</a>
                </li>
            </ul>

        </div>
    </nav>

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="row jumbotron" style=" margin: 0 auto; width: 90%;">
        <div class="example-wrapper">
            <h2>Hello Admin </h2>

            This friendly message is coming from:
            <ul>
                <li>Your controller at <code><a href="{{ 'src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
                <li>Your template at <code><a href="{{ 'templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
            </ul>
        </div>
    </div>
{% endblock %}