{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MEDIAMANIA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('genre_index') }}">Genre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('typemedia_index') }}">TypeMedia</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('utilisateur_index') }}">Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('media_index') }}">Media</a>
                </li>
            </ul>
            <ul class="navbar-nav" style="float: right" >
                <li class="nav-item">
                    <a class="nav-link" href="{{ path(cheminConnexion) }}">{{ connecter }}</a>
                </li>
            </ul>

        </div>
    </nav>


    <div style="width: 100%; max-width: 330px; padding: 15px; margin: auto; margin-top: 50px !important;" class="my-auto shadow p-3 mb-5 bg-white rounded">
        <h1 class="h3 mb-3 font-weight-normal" style="color:#1e7e34;">Ajouter un utilisateur</h1>
        {{ form_start(formAdd) }}
        <div class="form-group">
            {{ form_label(formAdd.lastname, 'Nom') }}
            {{ form_widget(formAdd.lastname, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(formAdd.firstname, 'Prénom') }}
            {{ form_widget(formAdd.firstname, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(formAdd.email, 'E-mail') }}
            {{ form_widget(formAdd.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(formAdd.username, 'Nom d\'utilisateur') }}
            {{ form_widget(formAdd.username, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(formAdd.password, 'Mot de passe') }}
            {{ form_widget(formAdd.password, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-bottom: 10px;">Valider l'utilisateur</button>
        {{ form_end(formAdd) }}
    </div>

{% endblock %}